body {
    padding-top: 50px;
    padding-bottom: 20px;
    background:#fff;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;

}

textarea
{
    max-width: 480px;

}
.form-body{
    background:rgba(19,35,47,0.9);
    padding-top: 20px 40px;
    max-width:800px;
    margin:40px 40px;
    box-shadow:0 4px 10px 4px rgba(19,35,47,0.3);
}
.form-body  input,textarea{
    font-size:12px;
}
textarea:focus,input:focus{outline:none;
    font-size:20px;
}
.table-heading{
   background-color:#2a3843;
   color:#fff;
}

.add-new {
    background-color:#1ab188;
}
.button {
    border:1px solid #fff;
    outline:none;
    border-radius:0;
    padding:10px 10px;
    font-weight:400;
    background:#2a3843;
    color:#fff;
    -webkit-appearance:none;
    }
    .button:hover,.button:focus {
    color:#fff !important;

    }
    
    label {
    color:#fff ;
    font-size:12px;

    }
    input,textarea {
    display:block;
    height:100%;
    /*padding:5px 10px;*/
    background-color:none;
    background-image:none;
    border:1px solid #a0b3b0;
    color:#2a3843;
    border-radius:0;
    transition:border-color .25s ease, box-shadow .25s ease;

}

.main-text
{
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}
.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear
{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}
.btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}

