@model Vente_Aux_Enchere_Site.Models.Bien

<div>
    <h5 id="titre2">Information sur le Vendeur</h5>
    @*<p>
            Nombre enchère: [@ViewBag.liste_ens ]

        </p>*@
    @*<p>
            Dernière enchère:@Model.detaienchere.PrixActuel
        </p>
        <p>
            Nom du client:@Model.detaienchere.Utilisateur.Pseudo
        </p>*@
</div>











<script>
        document.getElementById('titre2').style.color = 'orange';
        document.getElementById('titre2').style.fontSize = '30px';
        document.getElementById('titre2').style.marginLeft = '30px';

       


 </script>